//**
// Form Elements
//**

.input {
  display: block;
}
.input span {
  position: absolute;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  color: #999;
  text-align: center;
  width: 300px;
  /* Input padding + input border */
  padding: 7px;
  /* Firefox does not respond well to different line heights. Use padding instead. */
  line-height: 20px;
  /* This gives a little gap between the cursor and the label */
  margin-left: 2px;
  @include responsive($small-break) {
    width: 90%;
  }
}
.input input, .input textarea, .input select {
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
  line-height: 17px;
  border-radius: $br;
  &:focus {
    outline: $cahoots-prime auto 5px;
  }
}
.input input[type="text"], .input input[type="password"] {
  background: $cahoots-grey;
  border: none;
  height: 36px;
  width: 100%; 
  margin-bottom: 10px;
  text-align: center;
  padding: 0 10px;
  border: 1px solid $cahoots-lightgrey;
  @include responsive($small-break) {
    width: 100%;
  }
}
.input input[type="search"] {
  background: $cahoots-grey;
  border: none;
  height: 36px;
  width: 320px; 
  margin-bottom: 10px; 
  text-align: left;
  padding: 0 10px;
  border: 1px solid $cahoots-lightgrey;
  @include responsive($small-break) {
    width: 100%;
  }
}
input[type="submit"] {
  background: $cahoots-prime; 
  color: #fff;
  font-weight: bold;
  border: none;
  height: 36px;
  width: 100%; 
  margin: 10px 0; 
  text-align: center;
  border-radius: $br;
}
.input select {
  padding: 5px;
  /* Unfortunately selects don't respond well to padding. They need an explicit height. */
  height: 36px;
}