//**
// Project Settings
//**

// Consistent settings
$br: 3px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

// Responsive breakpoints
$small-break: 959px;
$big-break: 780px;

// Custom Colors
$cahoots-grey: #eaeaec;
$cahoots-darkgrey: lighten(#000, 66%);
$cahoots-lightgrey: #e0e0e2;
$cahoots-prime: #ff547d;
$cahoots-bg: #f4f4f6;
$cahoots-dark: rgb(60,60,70);





// Better default colors
// Cool
$aqua:  #7fdbff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;
// Warm
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$grey:   #aaa;
$black:  #111;





// Project color variables
$primary-color: #1271db;
$secondary-color: #233e5b;
$tertiary-color: #aaa;





$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text
